# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
vendor

# CocoaPods
Example/Pods/

#fastlane
Example/output/
Example/fastlane/screenshots/

# Fastlane temporary profiling data
Example/fastlane/report.xml
# Deliver temporary error output
Example/fastlane/Error*.png
# Deliver temporary preview output
Example/fastlane/Preview.html
# Snapshot generated screenshots
Example/fastlane/screenshots/*/*-portrait.png
Example/fastlane/screenshots/*/*-landscape.png
Example/fastlane/screenshots/screenshots.html
# Frameit generated screenshots
Example/fastlane/screenshots/*/*-portrait_framed.png
Example/fastlane/screenshots/*/*-landscape_framed.png

*.orig

# Configuration temp directory
/Configuration/*.xcconfig
